/*******Product card***********/
.product-card{
  transition: .4s ease-in-out;
  scale: 0.9;
}
.product-card:hover {
  scale: 1;
}

.card-img-top {
  object-fit: contain;
  max-height: 150px;
}

button.buttons-product{
border: none;
}

/******SignIn********/
.form-signIn {
  height: 80svh;
}

/****Carousel*****/
.carousel-inner {
  height: 85svh;
}
.img-carousel1 {
  background: url("./images/bone.jpg") no-repeat center
    center;
  background-size: cover;
  height: 85svh;
}
.img-carousel2 {
  background: url("./images/oculos.jpeg") no-repeat
    center center;
  background-size: cover;
  height: 85svh;
}
.img-carousel3 {
  background: url("./images/tenis.jpeg") no-repeat center
    center;
  background-size: cover;
  height: 85svh;
}
.carousel-caption {
  background-color: #33333395;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  color: antiquewhite;
}

.aboutImg {
  max-width: 450px;
}

.input-contactus:hover{
  box-shadow: 5px 5px 5px rgba(11, 193, 87, 0.337);
}


/********Cart & Checkout*************/
.cart-img {
  height: 70px;
  max-width: 100px;
}
.checkout-cart-menu {
  width: 190px;
}
.checkout-img {
  width: 190px;
}

/******Start animation********/
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

/********Category from footer*************/
.categoriesImg {
  max-height: 150px;
  transition: 0.4s ease-in-out;
}
.categoriesImg:hover {
  scale: 1.2;
}


/*********Specific Page about Product************/
.product-image-specific {
  max-width: 250px;
  transition: .4s ease-in-out;
}
.product-image-specific:hover {
  max-width: 250px;
  scale: 1.3;
}

.dontHaveProduct {
  filter: grayscale(1);
}

